*{
  box-sizing: border-box; /*Allows us to include the padding and border in an element's total width and height*/
  font-family: "Rubik", sans-serif;
  color : #393c41;
  margin: 0; /*So that all these headings should not have all these crazy margins we don't want this will create extra space around an element*/
  padding: 0; /*This will create extra  space within an element*/

}

body{
  width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;

}

@keyframes animateDown{
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(3px);;
  }
}